@charset "utf-8";
body {
    background-color: white;
    width: 800px;
    margin: auto;
}
html {
    background-color: black;
}
h2 {
    font-weight: normal;
    font-style: italic;
}
li {
    font-weight: bold;
}
.basic-Arial {
    font-family: Arial;
}
.Times {
    font-family: Times;
}
.Timesnewroman {
    font-family: 'Times New Roman';
}
.Couriernew {
    font-family: 'Courier New';
}
.Courier {
    font-family: Courier;
} 
.Verdana {
    font-family: Verdana;
}
.Georgia {
    font-family: Georgia;
}
.Garamond {
    font-family: garamond;
}
.Tahoma {
    font-family: tahoma;
}
.Trebuchet-MS {
    font-family: "trebuchet MS";
}
.Arial-Black {
    font-family: "arial black";
}
.Impact {
    font-family: impact;
}
.Comic-Sans {
    font-family: "comic Sans MS";
}